.project-title {
    font-size: 24px;
    font-weight: bold;
    margin-left:50px;
    margin-right:50px;
  }
  
.project-image {
    width: 560px;
    height: 375px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    max-width: 100%;
    /* flex-wrap: wrap;
    display: flex;
    justify-content: space-around; */
}

.project-card {
  margin-right: 10px;
}
